h1{
    color: red;

}
h2{
    color: orange;

}
p{
    padding: 30px;
    margin: 30px;
    color: aqua;
}
ol{
    color:bisque ;
}
body{
    color: aliceblue;
    background-color: black;
    font-family: Arial;
    font-size: medium;
}
